# IDE
.idea
.cadence

# Git
.git

# Dataset
datasets/*

# Saved Models
deploy/saved_models/*.keras
deploy/saved_models/*.h5

# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Credentials
**/credentials/**/*.json
**/cred/**/*.json
keys/

# Env
venv/env/*
**/.env*
config.yaml

# Output
**/coverage/
**/build/
**/logs/
**/*.log*
**/*.egg-info
**/nohup.out

# Misc
.DS_Store
ingestion/odoo_v2/*.yaml
**/*.swp
*.pyc
**/__pycache__/
**/venv_*/